<link rel="stylesheet" href="/css/header.css">
<header class="header">
    <div class="main-container">
        <div class="heading-container">
            <h1>
                <a href="/">NodeJs Authentication System</a>
            </h1>
        </div>
        <div class="links-container">
            <% if(locals.user) { %>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/users/profile"><%= user.name %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/destroy-session">Sign Out</a>
                    </li>
                </ul>
            <% } else { %>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/users/sign-up">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/sign-in">Sign In</a>
                    </li>
                </ul>
            <% } %>
        </div>
    </div>
</header>