<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <h1>NodeJs Authentication System</h1>
        <a href="/users/sign-up">Sign Up</a>
        <a href="/users/sign-in">Sign In</a>
    </header>

    <main>
        <h4>Process to implementation of Authentication System</h4>
    </main>
</body>
</html>