<link rel="stylesheet" href="/css/profile.css">
<main>
    <div class="details-container">
        <h2> User Details </h2>
        <p>
            Name : <%= user.name %>
        </p>
        <p>
           Email : <%= user.email %>
        </p>
        <button class="reset-btn">
            <a href="/users/reset-password">Reset Your Password</a>
        </button>
    </div>
</main>