<main>
    <div>
        <p>
            <%= user.name %>
        </p>
        <p>
            <%= user.email %>
        </p>
    </div>
    <div>
        <p>
            <a href="/users/reset-password">Reset Password</a>
        </p>
    </div>
</main>