<link rel="stylesheet" href="/css/reset_password.css">
<main>
    <div class="form-container">
        <h1>
            Change You Password
        </h1>
        <form action="/users/update-password" method="post">
            <input type="password" name="newPassword" placeholder="Enter New Password" required>
            <input type="password" name="confirmNewPassword" placeholder="Confirm password" required>
            <input type="submit" value="Change Password" class="btn">
        </form>
    </div>
</main>