<main class="container">
    <h1>Sign Up</h1>
    <div class="form-container">
        <form action="/users/create" method="post">
            <input type="text" name="name" placeholder="Enter Your Name" required>
            <input type="email" name="email" placeholder="Enter Your Email" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <input type="password" name="confirm_password" placeholder="confirm password" required>
            <input type="submit" value="register">
        </form>

        <p>
            <a href="/users/auth/google">Google Sign Up</a>
        </p>
    </div>
</main>