<div>
    <h1>Congratulations <%= newUser.name %> ,</h1>
    <br>
    <br>
    <h3>Your account is created with nodejs authentication system</h3>
    <br>
    <br>
    <h3>
        Thank You!
    </h3>
</div>